NEXT_PUBLIC_NEWSLY_DEPLOYMENT_TARGET=local
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_API_URL_LOCAL=http://localhost:3333
NEXT_PUBLIC_API_URL_DOCKER=http://backend:3333
NEXT_PUBLIC_APP_ORIGIN=
NEXT_PUBLIC_APP_ORIGIN_LOCAL=http://localhost:3000
NEXT_PUBLIC_APP_ORIGIN_DOCKER=http://localhost:3000
NEXT_PUBLIC_NEWSLY_DATA_SOURCE=
NEXT_PUBLIC_NEWSLY_DATA_SOURCE_LOCAL=auto
NEXT_PUBLIC_NEWSLY_DATA_SOURCE_DOCKER=api
